# -*- mode: nginx; mode: flyspell-prog; ispell-current-dictionary: american -*-

### The configuration for the status pages of php-fpm. As described in
### http://www.php.net/manual/en/install.fpm.configuration.php.

### php-fpm provides a status and a heartbeat page that is served through the web server.
### Here's an example configuration for them.

## The status page is at /fpm-status. Only local access is
## allowed. Non authorized access returns a 404 through the error_page
## directive.
location = /phpfpmcgi-status {
    if ($phpfpmcgi_status_acl) {
        return 403;
    }
    fastcgi_param  QUERY_STRING     /fpm-status;
    fastcgi_pass phpfpmcgi;
}

## The ping page is at /ping and returns the string configured at the php-fpm level.
## Also only local network connections (loopback and LAN) are permitted.
location = /phpfpmcgi-ping {
    if ($phpfpmcgi_status_acl) {
        return 403;
    }
    fastcgi_param  QUERY_STRING     /ping;
    fastcgi_pass phpfpmcgi;
}

## This is for the second pool. It assumes that you've configured
## php-fpm to have two pools and the URIs configured for the status
## and ping pages are as specified below. Zwei is 2 in german.

## The status page is at /fpm-status. Only local access is
## allowed. Non authorized access returns a 404 through the error_page
## directive.
location = /phpfpmcgi-status-www0 {
    if ($phpfpmcgi_status_acl) {
        return 403;
    }
    fastcgi_param  QUERY_STRING     /fpm-status;
    fastcgi_pass phpfpmcgi_www0;
}

## The ping page is at /ping and returns the string configured at the php-fpm level.
## Also only local network connections (loopback and LAN) are permitted.
location = /phpfpmcgi-ping-www0 {
    if ($phpfpmcgi_status_acl) {
        return 403;
    }
    fastcgi_param  QUERY_STRING     /ping;
    fastcgi_pass phpfpmcgi_www0;
}

## This is for the third pool that acts as backup. It assumes that
## you've configured php-fpm to have two pools and the URIs configured
## for the status and ping pages are as specified below. Drei is 3 in
## german.

## The status page is at /fpm-status. Only local access is
## allowed. Non authorized access returns a 404 through the error_page
## directive.
location = /phpfpmcgi-status-www1 {
    if ($phpfpmcgi_status_acl) {
        return 403;
    }
    fastcgi_param  QUERY_STRING     /fpm-status;
    fastcgi_pass phpfpmcgi_www1;
}

## The ping page is at /ping and returns the string configured at the php-fpm level.
## Also only local network connections (loopback and LAN) are permitted.
location = /phpfpmcgi-ping-www1 {
    if ($phpfpmcgi_status_acl) {
        return 403;
    }
    fastcgi_param  QUERY_STRING     /ping;
    fastcgi_pass phpfpmcgi_www1;
}
